.DS_Store
.bin
.git
.gitignore
.gitattributes
.bundleignore
.bundle
.byebug_history
.rspec
.cache
public
tmp
log
test
node_modules
node_modules/
yarn-error.log
coverage/
db_data/
docker/
docker-compose.yml
*.vim
.env
.env.*
.nvmrc
.tool-versions
.envrc
